:root {

    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    /* Модуль №3 - Блокова бодель. Flexbox */
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */

    /**
    |============================
    | Colors
    |============================
*/
    --color-iris: #4d5ae5;
    --color-ocean: #404bbf;
    --color-navy-blue: #2e2f42;
    --color-green: #31d0aa;
    --color-slate: #434455;
    --color-light-slate: #8e8f99;
    --color-cornflower: #e7e9fc;
    --color-cloud: #f4f4fd;
    --color-navy-blue-modal: rgba(46, 47, 66, 0.4);
    --color-grey: #2e2f42;
    --color-light: #ffffff;
    --color-dairy: #fcfcfc;

    /**
  |============================
  | Fonts
  |============================
*/
    --primary-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;

    /**
  |============================
  | Constant
  |============================
*/
    --indent: 24px;
    --item: 3;
    --anim-medium: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/**
  |============================
  | RESET AND NORMALIZE STYLES
  |============================
*/
img {
    display: block;
}

svg {
    display: block;
}

button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
a {
    margin: 0;
    padding: 0;
}

/**
  |============================
  | BODY STYLES
  |============================
*/

body {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    font-family: var(--primary-font);
    background-color: var(--color-light);
    color: var(--color-slate);
    /* Модуль №3 - Блокова бодель. Flexbox */
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

/**
  |============================
  | BASE STYLES
  |============================
*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.subtitle {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
    /* Модуль №3 - Блокова бодель. Flexbox */
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.list {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    list-style: none;
    /* Модуль №3 - Блокова бодель. Flexbox */
    margin: 0;
    padding: 0;
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.link {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    text-decoration: none;
    /* Модуль №3 - Блокова бодель. Flexbox */
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.container {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    /* Модуль №3 - Блокова бодель. Flexbox */
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

/**
  |============================
  | HEADER SECTION
  |============================
*/
.header {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    background: #FFFFFF;
    /* Модуль №3 - Блокова бодель. Flexbox */
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    border-bottom: 1px solid var(--color-cornflower);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.header-container {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    /* Модуль №3 - Блокова бодель. Flexbox */
    display: flex;
    align-items: center;
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.nav {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    /* Модуль №3 - Блокова бодель. Flexbox */
    display: flex;
    margin-right: auto;
    align-items: center;
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.nav-logo {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-iris);
    /* Модуль №3 - Блокова бодель. Flexbox */
    margin-right: 76px;
    display: flex;
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
    /* color */
    /* flex-box */

}

.nav-logo-desc {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    color: var(--color-navy-blue);
    /* Модуль №3 - Блокова бодель. Flexbox */
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.nav-list {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    /* Модуль №3 - Блокова бодель. Flexbox */
    display: flex;
    gap: 40px;
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.nav-list-item {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    /* Модуль №3 - Блокова бодель. Flexbox */
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.nav-list-item-link {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    color: var(--color-navy-blue);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    /* Модуль №3 - Блокова бодель. Flexbox */
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    position: relative;
    transition: color var(--anim-medium);
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.nav-list-item-link.active {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    color: var(--color-ocean);
    /* Модуль №3 - Блокова бодель. Flexbox */
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.nav-list-item-link:hover,
.nav-list-item-link:focus {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    color: var(--color-ocean);
    /* Модуль №3 - Блокова бодель. Flexbox */
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.nav-list-item-link::after {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    /* Модуль №3 - Блокова бодель. Flexbox */
    display: block;
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    position: absolute;
    bottom: -1px;
    left: 0;
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.nav-list-item-link.active::after {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    background-color: var(--color-ocean);
    /* Модуль №3 - Блокова бодель. Flexbox */
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.address {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    font-style: normal;
    /* Модуль №3 - Блокова бодель. Flexbox */
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.address-list {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    /* Модуль №3 - Блокова бодель. Flexbox */
    display: flex;
    gap: 40px;
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.address-list-item {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    /* Модуль №3 - Блокова бодель. Flexbox */
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.address-list-item-link {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    color: var(--color-slate);
    line-height: 1.5;
    letter-spacing: 0.02em;
    /* Модуль №3 - Блокова бодель. Flexbox */
    padding-top: 24px;
    padding-bottom: 24px;
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    transition: color var(--anim-medium);
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.address-list-item-link:hover,
.address-list-item-link:focus {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    color: var(--color-ocean);
    /* Модуль №3 - Блокова бодель. Flexbox */
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

/**
  |============================
  | HERO SECTION
  |============================
*/

.hero-section {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    background-color: var(--color-navy-blue);
    /* Модуль №3 - Блокова бодель. Flexbox */
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/hero/hero-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.hero-container {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    /* Модуль №3 - Блокова бодель. Flexbox */
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.hero-section-title {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    color: var(--color-light);
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    /* Модуль №3 - Блокова бодель. Flexbox */
    max-width: 496px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.hero-section-btn {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-light);
    background-color: var(--color-iris);
    /* Модуль №3 - Блокова бодель. Flexbox */
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    transition: background-color var(--anim-medium);
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.hero-section-btn:hover,
.hero-section-btn:focus {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    background-color: var(--color-ocean);
    /* Модуль №3 - Блокова бодель. Flexbox */
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

/**
  |============================
  | FEATURE SECTION
  |============================
*/

.feature {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    /* Модуль №3 - Блокова бодель. Flexbox */
    padding-top: 120px;
    padding-bottom: 120px;
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.feature-list {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    /* Модуль №3 - Блокова бодель. Flexbox */
    display: flex;
    gap: 24px;
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.feature-wrapper {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    background: var(--color-cloud);
    /* Модуль №3 - Блокова бодель. Flexbox */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    margin-bottom: 8px;
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    border-radius: 4px;
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.feature-icon {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    /* Модуль №3 - Блокова бодель. Flexbox */
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.feature-list-item {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    /* Модуль №3 - Блокова бодель. Flexbox */
    --item: 4;
    width: calc((100% - var(--indent) * (var(--item) - 1)) / var(--item));
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.feature-list-item-subtitle {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    /* Модуль №3 - Блокова бодель. Flexbox */
    margin-bottom: 8px;
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.feature-list-item-desc {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    line-height: 1.5;
    letter-spacing: 0.02em;
    /* Модуль №3 - Блокова бодель. Flexbox */
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

/**
  |============================
  | WORKS SECTION
  |============================
*/

.works {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    /* Модуль №3 - Блокова бодель. Flexbox */
    padding-bottom: 120px;
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.works-title {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-navy-blue);
    /* Модуль №3 - Блокова бодель. Flexbox */
    margin-bottom: 72px;
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.works-list {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    /* Модуль №3 - Блокова бодель. Flexbox */
    display: flex;
    gap: 24px;
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.works-list-item {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    /* Модуль №3 - Блокова бодель. Flexbox */
    --item: 3;
    width: calc((100% - var(--indent) * (var(--item) - 1)) / var(--item));
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.works-list-img {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    /* Модуль №3 - Блокова бодель. Flexbox */
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

/**
  |============================
  | TEAM SECTION
  |============================
*/

.team {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    background-color: var(--color-cloud);
    /* Модуль №3 - Блокова бодель. Flexbox */
    padding-top: 120px;
    padding-bottom: 120px;
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.team-title {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-navy-blue);
    /* Модуль №3 - Блокова бодель. Flexbox */
    margin-bottom: 72px;
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.team-list {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    /* Модуль №3 - Блокова бодель. Flexbox */
    display: flex;
    gap: 24px;
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.team-list-item {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    background-color: var(--color-light);
    background: #FFFFFF;
    /* Модуль №3 - Блокова бодель. Flexbox */
    --item: 4;
    width: calc((100% - var(--indent) * (var(--item) - 1)) / var(--item));
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.team-list-img {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    /* Модуль №3 - Блокова бодель. Flexbox */
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.team-card-text-content {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    text-align: center;
    /* Модуль №3 - Блокова бодель. Flexbox */
    padding-top: 32px;
    padding-bottom: 32px;
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.team-list-subtitle {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    text-align: center;
    /* Модуль №3 - Блокова бодель. Flexbox */
    margin-bottom: 8px;
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.team-list-desc {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    /* Модуль №3 - Блокова бодель. Flexbox */
    margin-bottom: 8px;
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

/* Social icon */
.socials-list {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    /* Модуль №3 - Блокова бодель. Flexbox */
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.socials-list-item {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    /* Модуль №3 - Блокова бодель. Flexbox */
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.socials-link {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    background-color: var(--color-iris);
    /* Модуль №3 - Блокова бодель. Flexbox */
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    border-radius: 50%;
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    transition: background-color var(--anim-medium);
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */

}

.socials-link:hover,
.socials-link:focus {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    background-color: var(--color-ocean);
    /* Модуль №3 - Блокова бодель. Flexbox */
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.socials-icon {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    /* Модуль №3 - Блокова бодель. Flexbox */
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    fill: var(--color-cloud);
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}


/**
  |============================
  | Customer section
  |============================
*/
.customers {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    /* Модуль №3 - Блокова бодель. Flexbox */
    padding-top: 120px;
    padding-bottom: 120px;
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.customer-title {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-navy-blue);
    /* Модуль №3 - Блокова бодель. Flexbox */
    margin-bottom: 72px;
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.customers-list {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    /* Модуль №3 - Блокова бодель. Flexbox */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.customers-list-item {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    /* Модуль №3 - Блокова бодель. Flexbox */
    --item: 6;
    --indent: 24px;
    width: calc((100% - (var(--indent) * (var(--item) - 1)))/var(--item));
    height: 88px;
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.customers-link {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    color: var(--color-light-slate);
    /* Модуль №3 - Блокова бодель. Flexbox */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    border: 1px solid var(--color-light-slate);
    border-color: var(--color-light-slate);
    border-radius: 4px;
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.customers-link:hover,
.customers-link:focus {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    color: var(--color-ocean);
    /* Модуль №3 - Блокова бодель. Flexbox */
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    border: 1px solid transparent;
    border-color: var(--color-ocean);
    border-radius: 4px;
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.customer-icon {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    /* Модуль №3 - Блокова бодель. Flexbox */
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    fill: currentColor;
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}


/**
  |============================
  | FOOTER SECTION
  |============================
*/

.footer {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    background-color: var(--color-navy-blue);
    /* Модуль №3 - Блокова бодель. Flexbox */
    padding-top: 100px;
    padding-bottom: 100px;
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.footer-container {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    /* Модуль №3 - Блокова бодель. Flexbox */
    display: flex;
    align-items: baseline;
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.footer-wrapper {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    /* Модуль №3 - Блокова бодель. Flexbox */
    margin-right: 120px;
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}


.footer-link {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-iris);
    /* Модуль №3 - Блокова бодель. Flexbox */
    display: inline-block;
    margin-bottom: 16px;
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.footer-desc {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    color: var(--color-cloud);
    line-height: 1.5;
    letter-spacing: 0.02em;
    /* Модуль №3 - Блокова бодель. Flexbox */
    max-width: 264px;
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.footer-link-desc {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    color: var(--color-cloud);
    /* Модуль №3 - Блокова бодель. Flexbox */
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.footer-social {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    /* Модуль №3 - Блокова бодель. Flexbox */
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.footer-socials-list {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    /* Модуль №3 - Блокова бодель. Flexbox */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.footer-social-desc {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-light);
    /* Модуль №3 - Блокова бодель. Flexbox */
    margin-bottom: 16px;
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.footer-socials-list-item {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    /* Модуль №3 - Блокова бодель. Flexbox */
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.footer-socials-link {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    background-color: var(--color-iris);
    /* Модуль №3 - Блокова бодель. Flexbox */
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    border-radius: 50%;
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    transition: background-color var(--anim-medium);
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.footer-socials-link:hover,
.footer-socials-link:focus {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    background-color: var(--color-green);
    /* Модуль №3 - Блокова бодель. Flexbox */
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.footer-socials-icon {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    /* Модуль №3 - Блокова бодель. Flexbox */
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    fill: var(--color-cloud);
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}


/**
  |============================
  | PORTFOLIO.HTML
  |============================
*/

.portfolio-section {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    /* Модуль №3 - Блокова бодель. Flexbox */
    padding-top: 96px;
    padding-bottom: 120px;
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.filter {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    /* Модуль №3 - Блокова бодель. Flexbox */
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.filter-list {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    /* Модуль №3 - Блокова бодель. Flexbox */
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.filter-list-item {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    /* Модуль №3 - Блокова бодель. Flexbox */
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.filter-list-item-btn {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--color-cloud);
    color: var(--color-iris);
    /* Модуль №3 - Блокова бодель. Flexbox */
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    border: 1px solid var(--color-cornflower);
    border-radius: 4px;
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    transition: color var(--anim-medium),
        background-color var(--anim-medium),
        border-color var(--anim-medium),
        box-shadow var(--anim-medium);
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.filter-list-item-btn:hover,
.filter-list-item-btn:focus {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    color: var(--color-light);
    background-color: var(--color-ocean);
    /* Модуль №3 - Блокова бодель. Flexbox */
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    border: 1px solid transparent;
    border-color: var(--color-ocean);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.card-list {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    /* Модуль №3 - Блокова бодель. Flexbox */
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.card-list-item {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    /* Модуль №3 - Блокова бодель. Flexbox */
    width: calc((100% - var(--indent) * (var(--item) - 1)) / var(--item));
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}


.card-list-item-link {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    /* Модуль №3 - Блокова бодель. Flexbox */
    display: block;
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    transition: box-shadow var(--anim-medium);
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.card-list-item-link:hover,
.card-list-item-link:focus {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    /* Модуль №3 - Блокова бодель. Flexbox */
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

/* OVERLAY */

.card-thumb {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    /* Модуль №3 - Блокова бодель. Flexbox */
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    position: relative;
    overflow: hidden;
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.overlay-text {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    color: var(--color-cloud);
    background-color: var(--color-iris);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    /* Модуль №3 - Блокова бодель. Flexbox */
    padding: 40px 32px;
    width: 100%;
    height: 100%;
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    position: absolute;
    top: 0;
    transform: translateY(100%);
    transition: transform var(--anim-medium);
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.card-list-item-link:hover .overlay-text,
.card-list-item-link:focus .overlay-text {
    transform: translateY(0%);
}

.portfolio-card-content {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    /* Модуль №3 - Блокова бодель. Flexbox */
    padding: 32px 16px;
    border: 1px solid var(--color-cornflower);
    border-top: none;
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.card-list-img {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    /* Модуль №3 - Блокова бодель. Flexbox */
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.card-subtitle {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
    /* Модуль №3 - Блокова бодель. Flexbox */
    margin-bottom: 8px;
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
    /* font setting */
}

.card-desc {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-slate);
    /* Модуль №3 - Блокова бодель. Flexbox */
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}


/**
  |============================
  | MODAL WINDOW
  |============================
*/
.backdrop {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    background-color: var(--color-navy-blue-modal);
    /* Модуль №3 - Блокова бодель. Flexbox */
    width: 100%;
    height: 100%;
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    opacity: 1;
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    position: fixed;
    top: 0;
    left: 0;
    transition: opacity var(--anim-medium),
        visibility var(--anim-medium);
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    background-color: var(--color-dairy);
    /* Модуль №3 - Блокова бодель. Flexbox */
    width: 408px;
    min-height: 576px;
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--anim-medium);
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
    /* opacity var(--anim-medium), */
    padding-top: 72px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
}

.backdrop.is-hidden .modal {
    opacity: 0;
    transform: translateX(-50%) translateY(70%);
}

.modal-close-btn {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    background-color: var(--color-cornflower);
    color: var(--color-navy-blue);
    /* Модуль №3 - Блокова бодель. Flexbox */
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    position: absolute;
    top: 24px;
    right: 24px;
    transition: background-color var(--anim-medium), color var(--anim-medium), border-color var(--anim-medium);
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
    /* color var(--anim-medium) */

}

.modal-close-btn:hover,
.modal-close-btn:focus {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    background-color: var(--color-ocean);
    color: var(--color-cornflower);
    /* Модуль №3 - Блокова бодель. Flexbox */
    border-color: transparent;
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.modal-close-icon {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    fill: currentColor;
    /* Модуль №3 - Блокова бодель. Flexbox */
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
    /* Модуль №2 - Селектори та колір. Текст та шрифти */
    /* Модуль №3 - Блокова бодель. Flexbox */
    /* Модуль №4 - Декоративні ефекти та елементи. Векторна графіка */
    /* Модуль №5 - Позиціоновані елементи. Переходи та анімація */
    /* Модуль №6 - Елементи та валідація форм */
    /* Модуль №7 - Адаптивна верстка. Адаптивна графіка */
}

/**
  |============================
  | Forms
  |============================
*/

/* Footer forms */
.footer-form-wrapper {
    margin-left: 80px;
}

.footer-form-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-light);
    margin-bottom: 16px;
}

.footer-form {
    display: flex;
    gap: 24px;
    align-items: center;
}


.footer-form-field {
    width: 264px;
    height: 40px;
    position: relative;
}

.footer-form-input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 1px solid var(--color-light);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: transparent;
    color: var(--color-light);
    padding: 0;
    padding-left: 16px;
}

.footer-form-tag {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: var(--color-light);
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);
    transform-origin: left center;
    transition: transform var(--anim-medium);
    background-color: var(--color-navy-blue);
    padding: 0;
    padding-left: 2px;
    padding-right: 2px;
}

.footer-form-input:focus+.footer-form-tag,
.footer-form-input:not(:placeholder-shown)+.footer-form-tag {
    transform: translateY(-134%);
}

.footer-form-btn {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 16px;
    width: 165px;
    height: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-light);
    background-color: var(--color-iris);
    border-radius: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 24px;
    padding-right: 24px;
    border: none;
    transition: background-color var(--anim-medium);
}

.footer-form-btn:hover,
.footer-form-btn:focus {
    background-color: var(--color-ocean);
}

.footer-form-btn-icon {
    fill: var(--color-light);
}

/* Modal form */

.modal-form {}

.modal-form-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 16px;

}

.modal-form-field {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--color-light-slate);
}

.modal-form-wrapper {
    position: relative;
    margin-bottom: 8px;
    width: 360px;
    height: 40px;
}

.modal-form-input {
    width: 100%;
    height: 100%;
    border: 1px solid var(--color-navy-blue-modal);
    border-radius: 4px;
    padding: 0;
    padding-left: 38px;
    outline: none;
    transition: border-color var(--anim-medium);

}


.modal-form-input:focus {
    border-color: var(--color-iris);
}

.modal-form-input:not(:placeholder-shown):required:invalid {
    border-color: lightcoral;
}

.modal-form-input:not(:placeholder-shown):required:valid {
    border-color: lightgreen;
}

.modal-form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: currentColor;
    pointer-events: none;
    transition: fill var(--anim-medium);
}

.modal-form-input:focus~.modal-form-icon {
    fill: var(--color-iris);
}

.modal-form-input:not(:placeholder-shown):required:invalid+.modal-form-icon {
    fill: lightcoral;
}


.modal-form-input:not(:placeholder-shown):required:valid+.modal-form-icon {
    fill: lightgreen;
}

.modal-comment-area {
    width: 360px;
    height: 120px;
    border: 1px solid var(--color-navy-blue-modal);
    border-radius: 4px;
    resize: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    outline: none;
    color: var(--color-navy-blue);
    margin-bottom: 16px;
}

.modal-comment-area:focus {
    border-color: var(--color-iris);
}

.modal-comment-area:not(:placeholder-shown) {
    border-color: var(--color-iris);
}

.form-agreement {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 24px;
}

.form-agreement-checkbox {
    appearance: none;
}

.form-agreement-icons {}

.unchecked {
    opacity: 1;
    transition: opasity var(--anim-medium);
}

.checked {
    opacity: 0;
    transition: opacity var(--anim-medium);
}

.form-agreement-checkbox:checked+.form-agreement-icons>.unchecked {
    opacity: 0;
}

.form-agreement-checkbox:checked+.form-agreement-icons>.checked {
    opacity: 1;
}

.form-agreement-text {
    user-select: none;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--color-slate);
    padding: 0;
    padding-left: 8px;
}

.form-agreement-link {
    color: var(--color-iris);
}

.valid-phone {}

.valid-field {}